.external{
    color:yellow
}

.divClass{
    background-color:red;
    display:flex;
    align-items:center; /* vertically */
    justify-content:center; /* horizontally */
    height:100vh;
}

.relativeElement{
    border:2px solid black;
    height:100px;
    width:100px;
    background-color:blue;
    position:relative;
    left:100px;
}