.external{
    color:yellow
}

.divClass{
    background-color:red;
    display:flex;
    align-items:center; /* vertically */
    justify-content:center; /* horizontally */
    height:100vh;
}

.relativeElement{
    height:100px;
    width:100px;
    background-color:pink;
    position:relative;
    z-index:3
}

.secondDiv{
    height:100px;
    width:100px;
    background-color:yellow;
    position: relative;
    bottom:22px;
    z-index:2
}


button:focus{
    border: 2px solid red;
}

